/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    color: white;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* Reproductor */
.player {
    flex: 2;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.player iframe {
    width: 90%;
    height: 90%;
    border: none;
}

/* Agenda */
.agenda {
    flex: 3;
    overflow-y: auto;
    padding: 20px;
    background-color: #1E1E1E;
}

.agenda h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

ul.menu {
    list-style: none;
    padding: 0;
}

ul.menu > li {
    margin-bottom: 15px;
    background-color: #2A2A2A;
    padding: 10px;
    border-radius: 8px;
}

ul.menu > li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

ul.menu > li a:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent,#c4c4c4);
	border-radius: 6px;
}

/* Contenedor principal */
#main-container {
    display: flex; /* Alinear elementos en filas */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden; /* Evitar scroll innecesario */
}

/* Contenedor del reproductor */
#player-container {
    flex: 3; /* Ocupa 75% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fondo negro */
}

/* Ajustes del iframe */
#stream-frame {
    width: 100%; /* Ocupa todo el ancho */
    height: 99%; /* Ocupa toda la altura */
    border: none; /* Sin bordes */
}

/* Contenedor de la agenda */
#agenda-container {
    flex: 1; /* Ocupa 25% del ancho */
    overflow-y: auto; /* Scroll solo vertical */
    background-color: #1c1c1c; /* Fondo oscuro */
    padding: 10px;
    box-sizing: border-box;
}

/* Lista de eventos */
#events {
    list-style: none;
    padding: 0;
    margin: 0;
}

#events li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #333;
}

#events li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
}

#events li ul {
    margin-top: 5px;
    padding-left: 20px;
}


.ARGENTINA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.COPAARGENTINA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.ARGENTINAPRIMERANACIONAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.ARGENTINAPRIMERAB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.ARGENTINAPRIMERABSUPERFINAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.ARGENTINALIGAPROFESIONAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/2378);
}

.CZECHREPUBLIC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v20/Competitors/5040);
}

.CSL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2381);
}

.CROATIAHNL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitors/5055);
}

.CROATIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitors/5055);
}

.CROATIAPRVANL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitors/5055);
}

.UAELEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5089);
}

.LITHUANIAALYGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2312);
}

.LITHUANIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2312);
}

.POLANDDIV1>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5038);
}

.POLANDDIV2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5038);
}

.POLISHCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5038);
}

.EKSTRAKLASA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5038);
}

.ALLSVENSKAN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2371);
}

.IRELANDFAICUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5064);
}

.IRELANDDIV1>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5064);
}

.IRELAND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5064);
}


.SERBIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2374);
}

.SERBIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2374);
}

.SLOVAKIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5039);
}

.SLOVAKCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5039);
}

.SLOVENIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5041);
}

.SLOVENIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5041);
}

.MOLDOVA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5031);
}

.GREECE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5030);
}

.GREEKCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5030);
}

.FAROEISLANDS>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5058);
}

.OBOS-LIGAEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2376);
}

.LIGABIH>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5241);
}

.ELITESERIEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2376);
}

.NMCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2376);
}

.TOPPSERIENWOMEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2376);
}

.SWEDENDAMALLSVENSKAN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2371);
}

.SWEDENDIV1>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2371);
}

.SWEDEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2371);
}

.CAFSUPERCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/5581);
}

.CAFCHAMPIONSLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/624);
}

.SUPERETTAN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2371);
}

.MONTENEGRO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5063);
}

.RUSSIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5044);
}

.RUSSIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5044);
}

.MALAYSIASUPERLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5470);
}

.LATVIAVIRSLIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2300);
}

.ROMANIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5060);
}

.ROMANIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5060);
}

.ROMANIALIGA2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5060);
}

.SPAINLIGAF>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5050);
}

.LALIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5050);
}

.LALIGA2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5050);
}

.ITALY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.SERIEA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.ITALYSERIEAWOMEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.SERIEB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.ITALYSERIEC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.COPPAITALIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.COPPAITALIASERIEC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/2375);
}

.GERMANY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}

.DFBPOKAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}


.BUNDESLIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}

.BUNDESLIGA2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}

.BUNDESLIGA3>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}

.BUNDESLIGAWOMEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2372);
}

.BULGARIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5062);
}

.BULGARIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5062);
}

.ENGLAND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.NATIONALLEAGUECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.PREMIERLEAGUEINTERNATIONALCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.ENGLANDNATIONALLEAGUECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.EPL2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.UEFACHAMPIONSLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitions/572);
}

.UEFACONFERENCELEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v5/Competitions/7685);
}

.WOMENSSUPERLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.WOMENSLEAGUECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.ENGLANDNATIONALLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.ENGLANDCHAMPIONSHIP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.ENGLANDLEAGUEONE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.EPL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.ENGLANDLEAGUETWO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.EFLTROPHY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.EFLCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5054);
}

.PORTUGAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5028);
}

.TACADALIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5028);
}

.LIGAPORTUGAL2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5028);
}

.TACADEPORTUGAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5028);
}

.LIGAPORTUGAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5028);
}

.FRANCE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}

.COUPEDEFRANCE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}

.FRANCEPREMIERELIGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}

.FRANCEDIV1WOMEN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}

.LIGUE1>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}
.LIGUE2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5061);
}

.MEXICO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v14/Competitors/5106);
}

.CANADA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2388);
}

.CANADIANPREMIERLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2388);
}

.CANADACHAMPIONSHIP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2388);
}

.COLOMBIAPRIMERAA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5071);
}

.COLOMBIAPRIMERAB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5071);
}

.COPACOLOMBIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5071);
}

.CHILE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5074);
}

.CHILESUPERCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5074);
}

.CHILEPRIMERAB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5074);
}

.CHILEPRIMERABPROMOTION>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5074);
}

.CHILEANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5074);
}

.URUGUAY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5073);
}

.URUGUAYPRIMERADIVISION>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5073);
}

.COPAURUGUAY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5073);
}

.URUGUAYSEGUNDADIV>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5073);
}

.URUGUAYSEGUNDADIVISION>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5073);
}

.BRAZILSERIEA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/2379);
}

.BRAZILSERIEB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/2379);
}

.BRAZILSERIEC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/2379);
}

.COPADOBRASIL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/2379);
}

.PERU>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5076);
}

.ECUADOR>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5075);

}.ECUADORSERIEB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5075);
}

.COPAECUADOR>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v12/Competitors/5075);
}

.BOLIVIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5077);
}

.PARAGUAY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5070);
}

.COPAPARAGUAY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5070);
}


.J1-LEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2382);
}

.J2-LEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2382);
}

.CONCACAFWCHAMPIONSCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/8240);
}

.J3-LEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2382);
}

.AUSTRALIACUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2380);
}

.A-LEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2380);
}

.AUSTRIABUNDESLIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitors/5059);
}

.OFBCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitors/5059);
}

.KAZAKHSTAN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/5056);
}

.MLS>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.NCAA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.NCAATOURNAMENT>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.NISA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.USOPENCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.CAMPEONESCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/7259);
}

.JAMAICA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v15/Competitors/5421);
}

.HONDURAS>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2390);
}

.MLSNEXTPRO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.USL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.USLSUPERLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.USL1>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.NWSL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/2389);
}

.SCO>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/sco.png);
}

.CR>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/cr.png);
}

.TURKEY1LIG>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5047);
}

.TURKEYSUPERLIG>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5047);
}

.COPADELREY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v5/Competitions/13);
}

.TURKISHCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5047);
}

.SWISSSUPERLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5032);
}

.SWISSCHALLENGELEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5032);
}

.SWISSCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5032);
}

.SUOMENCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5045);
}

.ISRAELLIGATHAAL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5034);
}

.ISRAELLEUMITLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5034);
}

.ISRAELSTATECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5034);
}

.UKRAINE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5057);
}

.GULFCLUBCHAMPIONSLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/8400);
}

.EREDIVISIE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2377);
}

.KNVBBEKER>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2377);
}

.EERSTEDIVISIE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2377);
}

.BELGIUM1A>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2373);
}

.BELGIUM1B>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2373);
}

.BELGIANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/2373);
}

.VOLEY>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/voley.png);
}

.NHL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/nhl.png);
}

.WWE>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/wwe.png);
}

.CHA>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/cha.png);
}

.UE>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/ue.png);
}

.UEC>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/uec.png);
}

.COPALIBERTADORES>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v6/Competitions/102);
}

.COPASUDAMERICANA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/389);
}

.AMERICA>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/america.png);
}

.EURO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitions/6071);
}

.EUROQUALIFIER>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitions/6071);
}

.BAS>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/bas.png);
}

.TE>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/te.png);
}

.ICELAND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5067);
}

.DENMARK>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5027);
}

.LANDSPOKALCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5027);
}

.DENMARK1STDIVISION>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5027);
}

.FINLANDYKKOSLIIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5045);
}

.FINLAND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5045);
}

.VEIKKAUSLIIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5045);
}


.RUG>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/rug.png);
}

.NFL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/nfl.png);
}

.HAND>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/han.png);
}

.AFCUP>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/afcup.png);
}

.AFCCHALLENGELEAGUE>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/afcup.png);
}

.AFCCHAMPIONSLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v7/Competitions/623);
}

.EGYPT>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5100);
}

.AEW>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/aew.png);
}

.AFR>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/africa.png);
}

.ATP>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/atp.png);
}

.ENDESA>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/endesa.png);
}

.F1>a:before {
    background-image: url(https://nowomi.quest/flags/f-1.png);
}

.F2>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/f2.png);
}

.F3>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/f3.png);
}

.FIFACLUB>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/fifaclub.png);
}

.FIFAWORLDCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/6085);
}

.SAUDIPROFESSIONALLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5087);
}

.SAUDIKINGCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5087);
}

.BOX>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/box.png);
}

.FACUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/8);
}

.PREMIEDENMARKRLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/7);
}

.CHAMPIONSHIP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/1);
}

.PRIMEIRALIGA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/73);
}

.SUPERLIGTUR>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/78);
}


.PREOLIMPICO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/7281);
}

.LIGABETPLAY>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/620);
}

.CLUBWORLDCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v8/Competitions/5096);
}

.LIGAMX>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v14/Competitors/5106);
}

.LIGAMXF>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v14/Competitors/5106);
}

.MEXICOLIGADEEXPANSION >a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v14/Competitors/5106);
}

.LIGADEEXPANSIONMX >a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v14/Competitors/5106);
}

.SERIERIO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/8052);
}

.LMB>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/lmb.png);
}

.LCC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/5485);
}

.CAFCONFEDERATIONCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/627);
}

.CONCAU20>a:before {
    background-image: url(https://librefutbol.me/flags/u20.png?new);
}

.CONCACAFCENTRALAMERICANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/7954);
}

.CENTRALAMERICANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/7954);
}

.CONCACAFCARIBBEANCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/7975);
}

.SERIECARIBE>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/seriecaribe.png);
}

.FUTSAL-COPA>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/futsal.png);
}

.SCOTLAND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.SCOTTISHCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.SCOTLANDLEAGUECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.SCOTLANDCHALLENGECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.SCOTTISHLEAGUECUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.SCOTLAND2ND>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5069);
}

.UEFAYOUTHLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/6297);
}

.CICLISMO>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/ciclismo.png);
}

.CONCACAF-F>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/8240);
}

.GOLDCUP-F>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7996);
}

.GOLDCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/589);
}

.NONE>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/international.webp);
}

.VENEZUELA >a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5072);
}

.VENEZUELALIGAFUTVE >a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5072);
}

.RUGBY>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/rugby-union.webp);
}

.UEFANATIONSLEAGUE>a:before {
    background-image: url(https://nowomi.quest/flags/nations.png);
}

.UEFANATIONSLEAGUEA>a:before {
    background-image: url(https://nowomi.quest/flags/nations.png);
}

.UEFANATIONSLEAGUEB>a:before {
    background-image: url(https://nowomi.quest/flags/nations.png);
}

.UEFANATIONSLEAGUEC>a:before {
    background-image: url(https://nowomi.quest/flags/nations.png);
}

.UEFANATIONSLEAGUED>a:before {
    background-image: url(https://nowomi.quest/flags/nations.png);
}

.AFRICACUPOFNATIONSQUALIFIER>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/588);
}

.MFP>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/MFP.png);
}

.UCL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/6225);
}

.UEFAEUROPALEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/596);
}

.WORLDCUPQUALIFIER>a:before {
    background-image: url(https://aguilaazulcrema.github.io/img/wc26.png);
}

.FIBAAMERICA>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/fiba.png);
}

.AFROBASKET>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/afrobasket.png);
}

.ASIACUPFIBA>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/asiacupfiba.webp);
}

.COSTARICAPRIMERADIVISION>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5424);
}

.COSTARICALIGADEASCENSO>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5424);
}

.COPACOSTARICA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v11/Competitors/5424);
}

.ESTONIA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5051);
}

.MOTOGP>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/motogp.webp);
}

.MOTO2>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/moto2.webp);
}

.MOTO3>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/moto3.webp);
}

.INDYCAR>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/indycar.webp);
}

.KINGS-LEAGUE>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/kingsleague.png);
}

.AFCCHAMPIONSLEAGUE2>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v6/Competitions/568);
}

.MLB>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/mlb.png);
}

.NATIONS>a:before {
    background-image: url(https://deportestvhd2.com/flags/nations.png);
}

.NATIONSF>a:before {
    background-image: url(https://deportestvhd2.com/flags/nationsf.png);
}

.CONCACAF_NATIONS>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.CONCACAFNATIONSLEAGUE>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.CONCACAFNATIONSLEAGUEC>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.CONCACAFNATIONSLEAGUEB>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.CONCACAFNATIONSLEAGUEA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.CONCACAFNATIONSLEAGUEPLAYIN>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/7165);
}

.SUD-17F>a:before {
    background-image: url(https://deportestvhd2.com/flags/suda17fm.png);
}

.EUROFEM>a:before {
    background-image: url(https://cnytesas.bar/flags/eurowomens.png);
}

.SUPERCUPMX>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitions/6263);
}

.SUMMER-CUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/8218);
}

.OLIMPICOS>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v4/Competitions/6370);
}

.LEAGUESCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/7242);
}

.UEFA_SUPERCOPA>a:before {
    background-image: url(https://futbolgratisenhd.com/flags/uefasupercopa.png);
}

.ELSALVADOR>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v1/Competitors/5415);
}

.GUATEMALA>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitors/5404);
}

.WORLDCUP>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v2/Competitions/6818);
}

.ELIMINATORIAS_CONMEBOL>a:before {
    background-image: url(https://imagecache.365scores.com/image/upload/v3/Competitions/613);
}

/* Responsive */

@media (max-width: 1050px) {
    .container {
        flex-direction: column;
    }

    .player {
        height: 50vh;
    }

    .agenda {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .player {
        height: 50vh;
    }

    .agenda {
        height: 50vh;
    }
}